.lineChartContainer {
  position: relative;
  margin-top: 24px;
}
.chartContainer {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: #fff;

  &:first-child {
    width: 100% !important;
    height: auto !important;
    padding: 0 !important;
  }
}
